See Post

<h2><%= @post.title %></h2>
<p><%= @post.content %></p>

<h4>Categories:</h4>

<% @post.categories.each do |category| %>
  <p><%= category.name %></p>
<% end %>

<h4>Comments:</h4>

<% @post.comments.each do |comment| %>
  <p><%= @comment.user_name %> : <%= comment.content %></p>
<% end %>

<h4>Comments by:</h4>

<% @post.unique_users.each do |user| %>
  <p><%= link_to user.username, user%></p>
<% end %>

<h4>Leave a Comment</h4>
<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :username %>
  <%= f.collection_check_boxes :user_ids, User.all, :id, :username, include_blank: true %>
  <br>
  <%= f.label :new_user %>
  <%= f.fields_for :user, @post.users.build do |user_field| %>
    <%= user_field.text_field :username %>
  <% end %>

  <%= f.label :comment %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>
